*{
    margin: 0;
    padding: 0;
    border: none;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
}

.logo {
    width: 144px;
    height: 40px;
    margin: 50px 870px 40px 46px;
    
}

 nav {
    margin: 40px 870px  40px  46px;

}
 .menu  a{
    color: white;
    background: #474747;
    padding: 14px 74px 14px 14px;
    font-size: 14.67px;
    font-weight: 29.33px;
    text-decoration: none;
    
 }

.menu { 
    background: #5b5b5b;
    padding: 14px 74px 14px 20px;
    width :966px;
    border: none; 
}


.leftmenu {
    width: 120px;
    height: 240px;
    margin-top: 58px;
    margin-left: 77px;
}

ul {
    line-height: 30px;
    color: #7a7878;
    cursor: pointer;}


li {
    list-style-type: none; 
}
 

 .Bicycle { 
    width:  536px;
    height: 356px;
    margin-top: -200px;
    margin-left: 425px;
           
}

.biketext {
    width: 604px;
    margin-top: 58px;
    padding: 7px 31px 50px 390px;
    
}

#footer { 
    margin-left: 46px;
    color: #4f4f4f;
    background: #e1e1e1;
    width :966px;
    padding: 14px 74px 14px 10px;
    font-size: 14.67px;
    text-decoration: none;
}

#footer p {
    padding: 4px;
    text-align: left;
}

#footer a {
    padding: 14px 74px 14px 20px;
    color: #4f4f4f;
    text-decoration: none;

}


#right {
text-align: right;
margin-top: -20px ; 
}