*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
list-style: none;  
}


@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/OpenSans-Regular.ttf');
}
header{
    width: 100%;
    background:#4f4e4e;
    display: flex;
}
.header__logo{ 
    color: white;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 14px;
    margin-left: 24px;
 }
 nav{
    margin-top: 14px;
    margin-left: 86px;
 }
 .topnav a{
    color: white;
    text-align: center;
    padding: 15px 16px;
    font-size: 14px;
    font-weight: bold;


 }
 .topnav a:hover{
    border-bottom: 3px solid #fcac45;
 }
 .topnav .icon{
    display:  none;
 }

@media screen and (max-width: 580px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: white;
        font-size: 25px;
    }
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
}



















